@use "../../styles/utils/mixins";

.footer {
	margin: {
		top: 100px;
		left: auto;
		right: auto;
	};
	padding-bottom: 10px;
	border-top: 2px solid #DDD;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-evenly;

	@include mixins.fluid-type(width, 320px, 1366px, 80%, 50%);

	.logo {
		cursor: pointer;
		@include mixins.fluid-type(margin-top, 320px, 1366px, 1rem, 5rem);
		@include mixins.fluid-type(margin-bottom, 320px, 1366px, 1rem, 5rem);
		@include mixins.fluid-type(width, 320px, 1366px, 7.5rem, 15rem);
	}

	ul {
		@include mixins.fluid-type(margin-top, 320px, 1366px, 2rem, 10rem);
		padding: {
			top: 0;
			bottom: 0;
			left: 16px;
			right: 16px;
		}
		list-style-type: none;
		
		li {
			display: block;
			margin: 0;
			@include mixins.fluid-type(margin-right, 320px, 1366px, 0, 10px);
			margin-bottom: 5px;

			a {
				padding: 0;
				margin: 0;
				@include mixins.fluid-type(margin-bottom, 320px, 1366px, 5px, 15px);

				color: #888;
				font-family: 'Fira Code', monospace;
				@include mixins.fluid-type(font-size, 320px, 1366px, 1.2rem, 1.6rem);
				text-decoration: none;
			}

			p {
				padding: 0;
				margin: 0;
				@include mixins.fluid-type(margin-bottom, 320px, 1366px, 5px, 15px);

				color: #888;
				font-family: 'Fira Code', monospace;
				@include mixins.fluid-type(font-size, 320px, 1366px, 1.2rem, 1.6rem);
			}
		}
	}
}