@use "../../styles/utils/mixins";

.footer {
	margin: {
		top: 100px;
		left: auto;
		right: auto;
	};
	padding-bottom: 10px;
	border-top: 2px solid #DDD;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;

	@include mixins.fluid-type(width, 320px, 1366px, 80%, 60%);

	.logo {
		cursor: pointer;
		@include mixins.fluid-type(margin-top, 320px, 1366px, 1rem, 5rem);
		@include mixins.fluid-type(margin-bottom, 320px, 1366px, 1rem, 5rem);
		@include mixins.fluid-type(width, 320px, 1366px, 7.5rem, 15rem);
	}

	ul {
		@include mixins.fluid-type(margin-top, 320px, 1366px, 2.5rem, 10rem);
		list-style-type: none;
		
		li {
			padding: 0;
			display: block;
			margin-right: 10px;
			margin-bottom: 5px;

			a {
				padding: 0;
				margin: 0;
				@include mixins.fluid-type(margin-bottom, 320px, 1366px, 5px, 15px);

				color: #888;
				font-family: 'Fira Code', monospace;
				@include mixins.fluid-type(font-size, 320px, 1366px, 1rem, 1.4rem);
				text-decoration: none;
			}

			p {
				padding: 0;
				margin: 0;
				@include mixins.fluid-type(margin-bottom, 320px, 1366px, 5px, 15px);

				color: #888;
				font-family: 'Fira Code', monospace;
				@include mixins.fluid-type(font-size, 320px, 1366px, 1rem, 1.4rem);
			}
		}
	}
}