@use "utils/mixins";

.container {
	width: 100%;
	height: 100vh;
}

.topBar {
	width: 100%;
	margin-top: 50px;
}

.title {
	display: block;	
	margin: {
		left: 10%;
		right: 10%;
		top: 2rem;
		bottom: 0;
	};

	font-weight: 400;
	@include mixins.fluid-type(font-size, 320px, 1366px, 3.2rem, 6rem);
	text-align: left;
  font-family: 'Fira Code', monospace;
}

.subtitle {
	display: block;	
	margin: {
		left: 10%;
		right: 10%;
		top: 0.5rem;
		bottom: 0;
	};

	font-weight: 400;
	@include mixins.fluid-type(font-size, 320px, 1366px, 1.6rem, 1.8rem);
	text-align: left;
  font-family: 'Montserrat', sans-serif;
}

.sectionHeader {
	display: block;	
	margin: {
		top: 4rem;
		bottom: 0;
	};

	@include mixins.fluid-type(margin-left, 320px, 1366px, 10%, 20%);
	@include mixins.fluid-type(margin-right, 320px, 1366px, 10%, 20%);

	font-weight: 400;
	@include mixins.fluid-type(font-size, 320px, 1366px, 3.2rem, 6rem);
	text-align: left;
	color: #155088;
	font-family: 'Fira Code', monospace;
}

.postsContainer {
	@include mixins.fluid-type(width, 320px, 1366px, 80%, 60%);
	margin: 0 auto;
	margin-top: 2.5rem;


	.post {
		display: flex;
		flex-direction: column;
		padding: 0;
		margin: {
			top: 0;
			bottom: 20px;
			left: auto;
			right: auto;
		};

		cursor: pointer;

		&:hover {
			background: #FAFAFA;
		};

		&:active {
			background: #EEE;
		};

		h3 {
			margin: {
				top: 10px;
				bottom: 5px;
				left: 20px;	
			};

			font-family: 'Fira Code', monospace;
			color: #1D72C0;
			@include mixins.fluid-type(font-size, 320px, 1366px, 3.2rem, 4.2rem);
		}

		p {
			margin: {
				top: 5px;
				bottom: 5px;
				left: 20px;	
			};


			font-family: 'Montserrat', sans-serif;
			@include mixins.fluid-type(font-size, 320px, 1366px, 2rem, 2.8rem);
		}

		.infoContainer {
			display: flex;
			flex-wrap: wrap;
			align-content: center;
			justify-content: flex-start;

			.date {
				margin: {
					top: 0;
					bottom: 10px;
				};

				color: #BBB;
				font-style: italic;
				@include mixins.fluid-type(font-size, 320px, 1366px, 1.4rem, 1.8rem);
				font-family: 'Montserrat', sans-serif;
			}

			.views {
				margin: {
					top: 0;
					bottom: 10px;
				};

				color: #BBB;
				font-style: italic;

				@include mixins.fluid-type(font-size, 320px, 1366px, 1.4rem, 1.8rem);
				font-family: 'Montserrat', sans-serif;
			}
		}

		.coverImg {
			position: relative;
			height: 280px;
			width: 100%;
			margin-top: 1.5rem;
			cursor: pointer;
		}
	}
}